@model List<Pelicula>

<h2>Mis Películas - @User.Identity.Name</h2>


<style>
    a {
        color: #ffffff;
        text-decoration: none;
    }

        a:hover {
            color: #ffffff;
            text-decoration: none;
            cursor: pointer;
        }

    /*
    img:hover{
        width: 220px;
        height: 290px;
    }
    */
    img {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.40);
    }
</style>


<form method="POST">
    <label>Filtrar por :</label>
    <select name="idfiltro">
        <option value="titulo">Título</option>
        <option value="director">director</option>
        <option value="genero">Género</option>``
    </select>
    <input type="text" name="filtro" required>
    <button class="btn btn-info">Filtrar</button>
</form>

<div class="d-flex flex-wrap gap-4 ">
    
        @foreach (var item in Model)
        {
                <div scope="d-flex flex-col">
                    <div class="portafolio
                    -container">
                        <a asp-action="VistaPelicula" asp-route-id="@item.ID">
                            <img class="portafolio-img" width="180px" height="250px" src="@Url.Content("~/images/" + item.Imagen)" />
                        </a>
                        <p>Click para ver detalles</p>
                    </div>
                    <b>Titulo</b>
                    <br>
                    @Html.DisplayFor(modelItem => item.Titulo)
                    <br>
                    <b>Género</b>
                    <br>
                    @Html.DisplayFor(modelItem => item.Genero)
                    <br>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="text-center">
                            <button class="btn btn-primary">
                                <a asp-action="EditarPelicula" asp-route-id="@item.ID">Editar</a>
                            </button>
                            <button class="btn btn-danger">
                                <a asp-action="BorrarPelicula" asp-route-id="@item.ID">Eliminar</a>
                            </button>
                        </div>
                    }
                </div>
            }
        
</div>
                            
                        
          




<button type="button" class="btn btn-success"><a asp-action="AgregarPelicula"> Registrar Nueva Película</a></button>
